* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  color: #333333;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

li,
dd {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

img, input {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Hiragino Mincho ProN", "Noto Serif JP", serif;
  color: #333333;
  font-size: 1.6rem;
}

.l-header {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 6rem;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .l-header {
    height: 7rem;
  }
}

.l-footer {
  width: 100%;
  height: 23rem;
  background-color: #f7f7f7;
}

@media screen and (min-width: 768px) {
  .l-footer {
    height: 22rem;
  }
}

.c-title {
  position: relative;
  text-align: center;
  font-size: 3rem;
}

@media screen and (min-width: 768px) {
  .c-title {
    font-size: 4rem;
  }
}

.c-title::after {
  content: "";
  position: absolute;
  top: 5.6rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 6rem;
  height: 0.1rem;
  background-color: #3ea1d1;
}

.c-card {
  max-width: 34rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 1.5rem #60606029;
          box-shadow: 0 0 1.5rem #60606029;
}

.c-button {
  display: block;
  padding: 1.6rem 5.4rem;
  color: #3ea1d1;
  border: 0.1rem solid #3ea1d1;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.p-inner {
  width: 100%;
  height: 100%;
  padding: 0 1.5rem;
}

@media screen and (min-width: 768px) {
  .p-inner {
    padding: 0 4rem;
  }
}

.p-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 120rem;
}

.p-header__logo {
  width: 12rem;
  height: 2.2rem;
  margin: auto auto auto 0;
}

.p-header__nav {
  display: none;
  margin: auto 0;
}

@media screen and (min-width: 768px) {
  .p-header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.p-header__nav-item {
  margin-left: 4.8rem;
}

.p-header__nav-link:hover {
  color: #3ea1d1;
}

.p-top {
  position: relative;
  max-width: 128rem;
  margin: 6rem auto 9.6rem;
}

@media screen and (min-width: 768px) {
  .p-top {
    margin: 7rem auto 16rem;
  }
}

.p-top__sp-img {
  width: 100%;
  margin-bottom: 4rem;
}

@media screen and (min-width: 768px) {
  .p-top__sp-img {
    display: none;
  }
}

.p-top__pc-img {
  display: none;
  width: 100%;
  max-width: 99rem;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .p-top__pc-img {
    display: block;
  }
}

.p-top__head {
  line-height: 1.69231;
  font-weight: bold;
  font-size: 2.6rem;
  margin-bottom: 3.2rem;
}

@media screen and (min-width: 768px) {
  .p-top__head {
    margin-bottom: 2.8rem;
  }
}

.p-top__body {
  line-height: 1.6875;
}

@media screen and (min-width: 768px) {
  .p-top__message-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 33rem;
    height: 33rem;
    background-color: #ffffff;
  }
}

.p-concept {
  max-width: 128rem;
  margin: 0 auto 9.6rem;
}

@media screen and (min-width: 768px) {
  .p-concept {
    margin: 0 auto 16rem;
  }
}

.p-concept__title {
  margin-bottom: 6.4rem;
}

@media screen and (min-width: 768px) {
  .p-concept__title {
    margin-bottom: 8rem;
  }
}

@media screen and (min-width: 768px) {
  .p-concept__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.p-concept__img {
  width: 100%;
  height: auto;
  margin-bottom: 4rem;
}

@media screen and (min-width: 768px) {
  .p-concept__img {
    width: 50%;
    max-width: 60rem;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .p-concept__message-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: calc(50% - 8rem);
    margin-left: 8rem;
  }
}

.p-concept__head {
  margin-bottom: 2.3rem;
  font-size: 2rem;
  line-height: 1.7;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .p-concept__head {
    margin-bottom: 4.8rem;
  }
}

.p-concept__body {
  line-height: 1.6875;
}

.p-feature {
  margin: 0 auto 9.6rem;
  max-width: 128rem;
}

.p-feature__title {
  margin-bottom: 6.4rem;
}

@media screen and (min-width: 768px) {
  .p-feature__title {
    margin-bottom: 8rem;
  }
}

@media screen and (min-width: 768px) {
  .p-feature__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.p-feature__card {
  margin: 0 auto 4.8rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (min-width: 768px) {
  .p-feature__card {
    margin-left: 9rem;
  }
}

@media screen and (min-width: 768px) {
  .p-feature__card:nth-child(3n + 1) {
    margin-left: 0;
  }
}

.p-feature__card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.p-feature__img {
  width: 100%;
}

.p-feature__body {
  padding: 3.2rem 0;
}

.p-feature__text {
  width: 100%;
  text-align: center;
  font-weight: bold;
  line-height: 1.6875;
}

.p-about {
  position: relative;
  width: 100%;
  height: 48.4rem;
  margin: 0 auto 9.6rem;
  background: transparent url(./../../../img/sp/bg.png) no-repeat center center/cover;
  opacity: 0.88;
}

@media screen and (min-width: 768px) {
  .p-about {
    margin: 0 auto 16rem;
    height: 47.8rem;
    background: transparent url(./../../../img/bg.png) no-repeat center center/cover;
  }
}

.p-about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.12);
}

.p-about__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .p-about__content {
    width: 50%;
  }
}

.p-about__head {
  margin-bottom: 3.2rem;
  font-size: 2rem;
  line-height: 1.7;
  font-weight: bold;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .p-about__head {
    margin-bottom: 4rem;
    font-size: 2.2rem;
  }
}

.p-about__body {
  font-size: 1.4rem;
  line-height: 1.71429;
  font-weight: bold;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .p-about__body {
    font-size: 1.6rem;
  }
}

.p-product {
  max-width: 128rem;
  margin: 0 auto 9.6rem;
}

@media screen and (min-width: 768px) {
  .p-product {
    margin: 0 auto 16rem;
  }
}

.p-product__title {
  margin-bottom: 6.4rem;
}

@media screen and (min-width: 768px) {
  .p-product__title {
    margin-bottom: 8rem;
  }
}

@media screen and (min-width: 768px) {
  .p-product__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 94rem;
    margin: 0 auto 4.8rem;
  }
}

.p-product__item {
  margin: 0 auto 4.8rem;
  width: 26rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (min-width: 768px) {
  .p-product__item {
    margin: 0 0 0 8rem;
  }
}

@media screen and (min-width: 768px) {
  .p-product__item:nth-child(3n + 1) {
    margin: 0;
  }
}

.p-product__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.p-product__img {
  margin-bottom: 2.4rem;
  width: 100%;
  max-width: 26rem;
}

.p-product__body {
  margin-bottom: 1.6rem;
  font-size: 1.4rem;
  line-height: 1.71429;
}

.p-product__price {
  color: #989898;
  font-size: 1.4rem;
  line-height: 1.71429;
}

.p-product__button {
  margin: 0 auto;
}

.p-product__button:hover {
  color: #ffffff;
  background-color: #3ea1d1;
}

.p-news {
  margin: 0 auto 9.6rem;
}

@media screen and (min-width: 768px) {
  .p-news {
    margin: 0 auto 16rem;
  }
}

.p-news__title {
  margin-bottom: 6.4rem;
}

@media screen and (min-width: 768px) {
  .p-news__title {
    margin-bottom: 8rem;
  }
}

.p-news__content-area {
  margin: 0 auto 4.8rem;
  max-width: 31rem;
}

@media screen and (min-width: 768px) {
  .p-news__content-area {
    max-width: 104rem;
  }
}

.p-news__content-wrap {
  border-bottom: 0.1rem solid #e0e0e0;
}

.p-news__content-wrap:not(:last-child) {
  margin-bottom: 2.4rem;
}

.p-news__item {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (min-width: 768px) {
  .p-news__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.p-news__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.p-news__img {
  width: 100%;
  margin-bottom: 2.4rem;
}

@media screen and (min-width: 768px) {
  .p-news__img {
    max-width: 26rem;
    margin-right: 4rem;
  }
}

.p-news__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-news__date {
  display: block;
  margin-bottom: 1.6rem;
  font-size: 1.4rem;
}

.p-news__head {
  margin-bottom: 2.4rem;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.6875;
}

@media screen and (min-width: 768px) {
  .p-news__head {
    font-size: 1.8rem;
    line-height: 1.72222;
  }
}

.p-news__body {
  margin-bottom: 2.4rem;
  font-size: 1.4rem;
  line-height: 1.71429;
  color: #888888;
}

.p-news__button {
  margin: 0 auto;
}

.p-news__button:hover {
  color: #ffffff;
  background-color: #3ea1d1;
}

.p-concept2 {
  max-width: 128rem;
  margin: 0 auto 9.6rem;
}

@media screen and (min-width: 768px) {
  .p-concept2 {
    margin: 0 auto 16rem;
  }
}

.p-concept2__content {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .p-concept2__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.p-concept2__img {
  width: 100%;
  margin-bottom: 4rem;
}

@media screen and (min-width: 768px) {
  .p-concept2__img {
    width: 50%;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .p-concept2__message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: calc(50% - 8rem);
    margin-right: 8rem;
  }
}

.p-concept2__head {
  margin-bottom: 3.2rem;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.7;
}

@media screen and (min-width: 768px) {
  .p-concept2__head {
    font-size: 2.8rem;
    line-height: 1.71429;
  }
}

.p-concept2__body {
  font-size: 1.4rem;
  line-height: 1.71429;
}

@media screen and (min-width: 768px) {
  .p-concept2__body {
    font-size: 1.6rem;
    line-height: 1.6875;
  }
}

.p-contact {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 4rem;
  background: transparent url(./../../../img/contact.png) no-repeat center center/cover;
}

@media screen and (min-width: 768px) {
  .p-contact {
    margin: 0 auto;
    padding-bottom: 4.8rem;
  }
}

.p-contact__title {
  padding-top: 5.7rem;
  margin-bottom: 4.9rem;
  color: #3ea1d1;
}

.p-contact__title:after {
  top: 11.3rem;
}

.p-contact__form {
  width: 32rem;
  margin: 0 auto;
  padding-bottom: 5.7rem;
}

@media screen and (min-width: 768px) {
  .p-contact__form {
    width: 51rem;
  }
}

.p-contact__item {
  width: 32rem;
  height: 4rem;
  border-radius: 0.2rem;
  border: none;
  -webkit-box-shadow: 0.5rem 0.5rem 1.5rem #60606029;
          box-shadow: 0.5rem 0.5rem 1.5rem #60606029;
  /* &:last-child {
      margin-bottom: 2.4rem;
    } */
}

@media screen and (min-width: 768px) {
  .p-contact__item {
    margin: 0;
  }
}

.p-contact__item:--bg-transparent {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.p-contact__content {
  margin-bottom: 3.2rem;
}

@media screen and (min-width: 768px) {
  .p-contact__content {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 3.2rem;
  }
}

.p-contact__caution {
  margin-bottom: 2.4rem;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.71429;
}

.p-contact__star {
  font-size: 1.6rem;
  color: #e7728e;
}

.p-contact__label {
  position: relative;
  display: inline-block;
  margin-bottom: 0.3rem;
  padding: 0.9rem 1.5rem;
  font-size: 1.4rem;
  color: #ffffff;
  background-color: #3ea1d1b3;
}

@media screen and (min-width: 768px) {
  .p-contact__label {
    width: 17.2rem;
    max-height: 4rem;
    margin: 0;
    margin-right: 1.8rem;
  }
}

@media screen and (min-width: 768px) {
  .p-contact__label::after {
    content: "";
    position: absolute;
    top: 0;
    left: 17.2rem;
    border-style: solid;
    border-width: 20px 0 20px 8px;
    border-color: transparent transparent transparent #3ea1d1b3;
  }
}

.p-contact__radio-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 16rem;
  height: 4rem;
  border: 0.1rem solid #ffffff;
  border-radius: 0.1rem;
  -webkit-box-shadow: 0.5rem 0.5rem 1.5rem #60606029;
          box-shadow: 0.5rem 0.5rem 1.5rem #60606029;
}

.p-contact__label-radio {
  position: relative;
}

.p-contact__radio {
  display: inline-block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.p-contact__radio:checked + .p-contact__option {
  color: #ffffff;
  background-color: #3ea1d1;
}

.p-contact__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 7.9rem;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3ea1d1;
  background-color: #fff;
  cursor: pointer;
}

.p-contact__detail {
  min-height: 12.2rem;
  resize: vertical;
}

.p-contact__label-checkbox {
  display: block;
  position: relative;
  margin-bottom: 2.9rem;
  text-align: center;
  cursor: pointer;
}

.p-contact__label-checkbox::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #6cc0e5;
  position: absolute;
  left: 0px;
  top: 0;
  opacity: 0.6;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
}

@media screen and (min-width: 768px) {
  .p-contact__label-checkbox::before {
    left: 90px;
  }
}

.p-contact__checkbox {
  display: none;
}

.p-contact__checkbox:checked + .p-contact__label-checkbox::before {
  width: 10px;
  top: -5px;
  left: 0px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (min-width: 768px) {
  .p-contact__checkbox:checked + .p-contact__label-checkbox::before {
    left: 90px;
  }
}

.p-contact__privacy {
  color: #3ea1d1;
  border-bottom: 0.1rem solid #3ea1d1;
}

.p-contact__button {
  margin: 0 auto;
}

.p-footer {
  text-align: center;
}

.p-footer__logo {
  width: 12rem;
  height: 6.2rem;
  margin: 0 auto;
  padding: 4rem 0 0;
  margin-bottom: 2.4rem;
}

@media screen and (min-width: 768px) {
  .p-footer__logo {
    height: 7rem;
    padding: 4.8rem 0 0;
  }
}

@media screen and (min-width: 768px) {
  .p-footer__link-wrap {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-bottom: 3.7rem;
  }
}

.p-footer__privacy {
  margin-bottom: 1.6rem;
}

@media screen and (min-width: 768px) {
  .p-footer__privacy {
    margin: 0;
    margin-right: 3.2rem;
  }
}

.p-footer__trade {
  margin-bottom: 3.2rem;
}

@media screen and (min-width: 768px) {
  .p-footer__trade {
    margin: 0;
  }
}

.p-footer__link:hover {
  opacity: 0.7;
}

.p-footer__sns {
  margin-bottom: 1.8rem;
}

@media screen and (min-width: 768px) {
  .p-footer__sns {
    margin-bottom: 2.4rem;
  }
}

.p-footer__icon {
  /* width: 2.2rem;
    height: 2.2rem; */
  font-size: 2.2rem;
  color: #3ea1d1;
  margin-right: 4rem;
}

.p-footer__icon:last-child {
  margin: 0;
}

.p-footer__copyright {
  color: #888888;
}

.u-mra {
  margin-right: auto;
}

.u-mla {
  margin-left: auto;
}

.u-mtba {
  margin-top: auto;
  margin-bottom: auto;
}

.u-mrla {
  margin-right: auto;
  margin-left: auto;
}

.u-ml48 {
  margin-left: 4.8rem;
}

@media screen and (min-width: 768px) {
  .u-ml80__pc-message {
    margin-left: 8rem;
  }
}

.u-mb28 {
  margin-bottom: 2.8rem;
}

.u-mb32 {
  margin-bottom: 3.2rem;
}

.u-mb40 {
  margin-bottom: 4rem;
}

.u-mb48 {
  margin-bottom: 4rem;
}

.u-mb80 {
  margin-bottom: 8rem;
}

.u-mb160 {
  margin-bottom: 16rem;
}

.u-mt__p-top {
  margin-top: 6rem;
}

@media screen and (min-width: 768px) {
  .u-mt__p-top {
    margin-top: 7rem;
  }
}

.u-mb__project {
  margin-bottom: 9.6rem;
}

@media screen and (min-width: 768px) {
  .u-mb__project {
    margin-bottom: 16rem;
  }
}

@media screen and (max-width: 767px) {
  .u-mb__p-concept__img {
    margin-bottom: 4rem;
  }
}

.u-mb__p-concept__head {
  margin-bottom: 2.3rem;
}

@media screen and (min-width: 768px) {
  .u-mb__p-concept__head {
    margin-bottom: 4.8rem;
  }
}

@media screen and (min-width: 768px) {
  .u-pc-none {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .u-sp-none {
    display: none;
  }
}

.u-fwb {
  font-weight: bold;
}

.u-fz20 {
  font-size: 2rem;
}

.u-fz26 {
  font-size: 2.6rem;
}

.u-fz40 {
  font-size: 4rem;
}
