.p-feature {
  margin: 0 auto 9.6rem;
  max-width: 128rem;

  &__title {
    margin-bottom: 6.4rem;

    @include mq("pc") {
      margin-bottom: 8rem;
    }
  }

  &__content {
    @include mq("pc") {
      display: flex;
      //justify-content: space-between;
    }
  }

  &__card {
    //width: 100%;
    margin: 0 auto 4.8rem;
    //flex: 0 0 28.3%;
    transition: all 0.3s;

    @include mq("pc") {
      margin-left: 9rem;
    }

    &:nth-child(3n + 1) {
      @include mq("pc") {
        margin-left: 0;
      }
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__img {
    width: 100%;
  }

  &__body {
    padding: 3.2rem 0;
  }

  &__text {
    width: 100%;
    text-align: center;
    font-weight: bold;
    line-height: font-height(2.7rem, 1.6rem);
  }
}
