.p-top {
  position: relative;
  max-width: 128rem;
  margin: 6rem auto 9.6rem;

  @include mq("pc") {
    margin: 7rem auto 16rem;
  }

  &__sp-img {
    width: 100%;
    margin-bottom: 4rem;

    @include mq("pc") {
      display: none;
    }
  }

  &__pc-img {
    display: none;
    width: 100%;
    max-width: 99rem;
    margin-left: auto;

    @include mq("pc") {
      display: block;
    }
  }

  &__head {
    line-height: font-height(4.4rem, 2.6rem);
    font-weight: bold;
    font-size: 2.6rem;
    margin-bottom: 3.2rem;

    @include mq("pc") {
      margin-bottom: 2.8rem;
    }
  }

  &__body {
    line-height: font-height(2.7rem, 1.6rem);
  }

  &__message-wrap {
    @include mq("pc") {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 33rem;
      height: 33rem;
      background-color: $color-white;
    }
  }
}
